<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Flask-WTF支持的选择表单组件</title>
</head>

<body>
  {% if ok %}
  <script>
    alert('data record successfully')
  </script>
  {% endif %} {% for message in form.name.errors %}
  <div>{{message}}</div>
  {% endfor %} {% for message in form.age.errors %}
  <div>{{message}}</div>
  {% endfor %} {% for message in form.birth.errors %}
  <div>{{message}}</div>
  {% endfor %} {% for message in form.isStudent.errors %}
  <div>{{message}}</div>
  {% endfor %} {% for message in form.resume.errors %}
  <div>{{message}}</div>
  {% endfor %}
  <form acion='http://locahost:5000' method=post>
    <fieldset>
      {{form.hidden_tag()}}
      <!--防止跨域访问-->
      {{form.name.label}} <br> {{form.name}} <br> {{form.age.label}} <br> {{form.age}} <br> {{form.birth.label}} <br> {{form.birth}} <br> {{form.isStudent.label}} {{form.isStudent}} <br> {{form.resume.label}} <br> {{form.resume}} <br> {{form.submit}}

    </fieldset>
  </form>
</body>

</html>
